In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
!pip download missingno
import missingno as msno

In [6]:
df = sns.load_dataset('titanic')
df = df.select_dtypes(include = ['float64', 'int64'])
print(df.head())
df.isnull().sum()

   survived  pclass   age  sibsp  parch     fare
0         0       3  22.0      1      0   7.2500
1         1       1  38.0      1      0  71.2833
2         1       3  26.0      0      0   7.9250
3         1       1  35.0      1      0  53.1000
4         0       3  35.0      0      0   8.0500

survived      0
pclass        0
age         177
sibsp         0
parch         0
fare          0
dtype: int64

In [19]:
!pip install ycimpute==0.1.1

Collecting ycimpute==0.1.1
  Downloading ycimpute-0.1.1-py2.py3-none-any.whl (31 kB)
Requirement already satisfied: six in c:\users\monster\anaconda3\lib\site-packages (from ycimpute==0.1.1) (1.15.0)
Requirement already satisfied: numpy>=1.10 in c:\users\monster\anaconda3\lib\site-packages (from ycimpute==0.1.1) (1.18.5)
Requirement already satisfied: scikit-learn>=0.17.1 in c:\users\monster\anaconda3\lib\site-packages (from ycimpute==0.1.1) (0.23.1)
Requirement already satisfied: scipy in c:\users\monster\anaconda3\lib\site-packages (from ycimpute==0.1.1) (1.5.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\monster\anaconda3\lib\site-packages (from scikit-learn>=0.17.1->ycimpute==0.1.1) (2.1.0)
Requirement already satisfied: joblib>=0.11 in c:\users\monster\anaconda3\lib\site-packages (from scikit-learn>=0.17.1->ycimpute==0.1.1) (0.16.0)
Installing collected packages: ycimpute
Successfully installed ycimpute-0.1.1

In [20]:
from ycimpute.imputer import knnimput

In [21]:
var_names = list(df)

In [22]:
n_df = np.array(df)

In [24]:
n_df[0:10]

array([[ 0.    ,  3.    , 22.    ,  1.    ,  0.    ,  7.25  ],
       [ 1.    ,  1.    , 38.    ,  1.    ,  0.    , 71.2833],
       [ 1.    ,  3.    , 26.    ,  0.    ,  0.    ,  7.925 ],
       [ 1.    ,  1.    , 35.    ,  1.    ,  0.    , 53.1   ],
       [ 0.    ,  3.    , 35.    ,  0.    ,  0.    ,  8.05  ],
       [ 0.    ,  3.    ,     nan,  0.    ,  0.    ,  8.4583],
       [ 0.    ,  1.    , 54.    ,  0.    ,  0.    , 51.8625],
       [ 0.    ,  3.    ,  2.    ,  3.    ,  1.    , 21.075 ],
       [ 1.    ,  3.    , 27.    ,  0.    ,  2.    , 11.1333],
       [ 1.    ,  2.    , 14.    ,  1.    ,  0.    , 30.0708]])

In [26]:
dff = knnimput.KNN(k = 4).complete(n_df)

Imputing row 1/891 with 0 missing, elapsed time: 0.119
Imputing row 101/891 with 0 missing, elapsed time: 0.125
Imputing row 201/891 with 0 missing, elapsed time: 0.126
Imputing row 301/891 with 1 missing, elapsed time: 0.127
Imputing row 401/891 with 0 missing, elapsed time: 0.128
Imputing row 501/891 with 0 missing, elapsed time: 0.129
Imputing row 601/891 with 0 missing, elapsed time: 0.130
Imputing row 701/891 with 0 missing, elapsed time: 0.130
Imputing row 801/891 with 0 missing, elapsed time: 0.131

In [28]:
type(dff)

numpy.ndarray

In [29]:
dff = pd.DataFrame(dff, columns = var_names)

In [31]:
dff

     survived  pclass        age  sibsp  parch     fare
0         0.0     3.0  22.000000    1.0    0.0   7.2500
1         1.0     1.0  38.000000    1.0    0.0  71.2833
2         1.0     3.0  26.000000    0.0    0.0   7.9250
3         1.0     1.0  35.000000    1.0    0.0  53.1000
4         0.0     3.0  35.000000    0.0    0.0   8.0500
..        ...     ...        ...    ...    ...      ...
886       0.0     2.0  27.000000    0.0    0.0  13.0000
887       1.0     1.0  19.000000    0.0    0.0  30.0000
888       0.0     3.0  22.469024    1.0    2.0  23.4500
889       1.0     1.0  26.000000    0.0    0.0  30.0000
890       0.0     3.0  32.000000    0.0    0.0   7.7500

[891 rows x 6 columns]

In [32]:
dff.isnull().sum()

survived    0
pclass      0
age         0
sibsp       0
parch       0
fare        0
dtype: int64